body {
  background-image: url("Pictures/background2.jpg");
  background-color: #ffffff;
}

h1 {
  color: #FF8533;
  font-family: 'Barrio', cursive;
  font-size: 4em;
}

h2 {
  color: #FF8533;
  font-family: 'Indie Flower', cursive;
  font-size: 1.875em;
}

.main-header {
  text-align: center;
  background-color: #81F7BE;
}
