body {
  background-image: url("Pictures/background2.jpg");
  background-color: #ffffff;
}

h1 {
  color: #FF8000;
  font-family: 'Barrio', cursive;
  font-size: 4em;
  text-align: center;
}

h2 {
  color: #FF8000;
  font-family: 'Indie Flower', cursive;
  font-size: 1.875em;
}
